.html {
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: rgb(46, 41, 41);
  height: 35ch;
  flex-direction: column;
  margin: 0px auto;
  width: 50%;
  margin-top: 60px;
  border-radius: 5px;
}

.flex-container > div {
  background-color: rgb(46, 41, 41);
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .signup {
  mar
} */

.input-parent {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  /* padding: 20px;
  padding: auto; */
}

.inputs {
  border: none;
  text-align: left;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.labels {
  padding-bottom: 50px;
}

.loginbtn {
  background-color: rgb(179, 179, 179);
  /* border: 2px solid #008cba; */
  color: black;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 2ch;
  width: 18ch;
}
