body {
  background-color: white;
}
html {
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

div {
  padding: 0%;
}

/* ************** Specifics ************* */
