.body {
  background-color: #12161d;
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* background-color: rgb(138, 12, 37); */
  background-color: #222936;
}

.nav li {
  padding: 1em;
  font-size: 18px;
  list-style-type: none;
  font-family: Lucida Console, Courier, monospace;
  font-weight: 450;
}

.nav li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.nav li a:hover {
  color: black;
}

/*  */
/*  */

.wlcm {
  color: white;
  padding-left: 3ch;
  margin-bottom: 8ch;
  font-family: Lucida Console, Courier, monospace;
}

.csq {
  margin-top: 2.5%;
  color: white;
  padding-left: 5em;
}

#commentList {
  padding-top: 1ch;
  color: darkcyan;
  font-family: Lucida Console, Courier, monospace;
}

#setBtn {
  background-color: rgb(179, 179, 179);
  /* border: 2px solid #008cba; */
  color: black;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
  /* margin-top: 2ch; */
  width: 20ch;
}

.container {
  width: 500px;
  clear: both;
  padding-left: 5em;
  margin-bottom: 10ch;
}

.container input {
  clear: both;
  border: none;
  text-align: left;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 5%;
}

label {
  /* padding-bottom: 50px; */
  color: white;
  font-family: Lucida Console, Courier, monospace;
}

#getBtn {
  background-color: rgb(179, 179, 179);
  color: black;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
  /* margin-top: 2ch; */
  width: 20ch;
}
